<!DOCTYPE html>
<html>
  <head>
    <style>
       #map {
        height: 600px;
        width: 100%;
       }

       #info {
          table-layout: fixed;
          width: 100%;
          border-collapse: collapse;
          font-size:0.7em;
       }

       #info td {
         border: black 1px solid;
       }

       .box {
        border: 1px black solid;
       }
    </style>
  </head>
  <body>
    <button onclick="loadMore(); this.parentNode.removeChild(this)">Load rescued people</button>
    <span id="loadStatus"></span>
    <a href="/sheet">Sheet view</a>
    <a href="/search">Search + Edit view</a>
    <div id="map"></div>
    <table id="info">
      <tr>
        <td>Name</td>
        <td>Lat</td>
        <td>Lng</td>
        <td>Incident Number</td>
        <td>Name</td>
        <td>Street Address</td>
        <td>Apartment</td>
        <td>City</td>
        <td>Zip Code</td>
        <td>Twitter Handle</td>
        <td>Priority</td>
        <td>Status</td>
        <td>Number of People</td>
        <td>Link</td>
      </tr>
      <tr>
        <td class="name"></td>
        <td class="lat"></td>
        <td class="lng"></td>
        <td class="incident_number"></td>
        <td class="name"></td>
        <td class="street_address"></td>
        <td class="apt"></td>
        <td class="city"></td>
        <td class="zip_code"></td>
        <td class="twitter_handle"></td>
        <td class="priority"></td>
        <td class="status"></td>
        <td class="number_of_people"></td>
        <td><a href="#">Link</a></td>
      </tr>
    </table>
    <br>
    <h2>Add new person</h2>
    <div class="box">
      <p>Add by Latitude and Longitude:</p>
      <input id="lat" placeholder="lat"><br>
      <input id="lng" placeholder="long"><br>
      <button onclick="addFrom()">Add it!</button>
    </div>
    <div class="box">
      <p>Add by clicking:</p>
      <button onclick="adding = true">Turn on add by click</button>
      <button onclick="adding = false">Turn off add by click</button>
    </div>
    <div class="box">
      <p>Add by typing in an address. When you select an auto complete address, it will be added: <input id="autocomplete" size="50" placeholder="Enter your address" type="text"></p>
    </div>
    <script>
      var map;
      var placeSearch, autocomplete;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 6,
          center: {lat: 29.5909775, lng: -93.9997136} // america
        });
        var input = document.getElementById('autocomplete');
        var autocomplete = new google.maps.places.Autocomplete(input);
        autocomplete.addListener('place_changed', function() {
          console.log(autocomplete.getPlace().geometry.location);
          place = autocomplete.getPlace().geometry.location;
          var http = new XMLHttpRequest();
          var url = "/person/create";
          var params = "lat="+place.lat()+"&lng="+place.lng();
          http.open("POST", url, true);

          http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

          http.onreadystatechange = function() {//Call a function when the state changes.
              if(http.readyState == 4 && http.status == 200) {
                  addPlace(
                    place.lat(),
                    place.lng(),
                    "/person/"+http.responseText
                  );
              }
          }
          http.send(params);
        });
      }

      function addPlace(lat, lng, id,number_of_people) {
        var marker = new google.maps.Marker({
          id: id,
          position: {lat: Number(lat), lng: Number(lng)},
          label: number_of_people,
          map: map
        });
        google.maps.event.addListener(marker, 'click', function() {
          var http = new XMLHttpRequest();
          http.open("GET", "/person/json/"+this.id, true);
          http.onreadystatechange = function() {
              if(http.readyState == 4 && http.status == 200) {
                  resp = JSON.parse(http.responseText);
                  var box = document.getElementById("info");
                      for (var key in resp){
                        if (box.getElementsByClassName(key)[0] != null) {
                          console.log("Setting "+key+" to "+resp[key]);
                          box.getElementsByClassName(key)[0].textContent = resp[key];
                        }
                      }
                      box.getElementsByTagName("a")[0].href = "/person/"+resp.id;
              }
          }
          http.send();
        });
      }

      function addFrom() {
        var http = new XMLHttpRequest();
        var url = "/person/create";
        var params = "lat="+document.getElementById("lat").value+"&lng="+document.getElementById("lng").value;
        http.open("POST", url, true);

        //Send the proper header information along with the request
        http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

        http.onreadystatechange = function() {//Call a function when the state changes.
            if(http.readyState == 4 && http.status == 200) {
                addPlace(
                  Number(document.getElementById("lat").value),
                  Number(document.getElementById("lng").value),
                  "/person/"+http.responseText
                );
            }
        }
        http.send(params);
      }
      window.onload = function(){
        var xmlhttp = new XMLHttpRequest();

        xmlhttp.onreadystatechange = function() {
            if (xmlhttp.readyState == XMLHttpRequest.DONE ) {
               if (xmlhttp.status == 200) {
                  resp = JSON.parse(xmlhttp.responseText);
                  for (var i = 0; i < resp.length; i++) {
                    person = resp[i];
                    console.log(person.number_of_people)
                    addPlace(person.lat, person.lng, person.id, String(person.number_of_people).charAt(0));
                  }
               }
               else if (xmlhttp.status == 400) {
                  alert('There was an error 400');
               }
               else {
                   alert('something else other than 200 was returned');
               }
            }
        };

        xmlhttp.open("GET", "/people/nonrescued", true);
        xmlhttp.send();

        google.maps.event.addListener(map, 'click', function(event) {
          if (adding) {
           placeMarker(event.latLng);
          }
        });
      }
      var adding = false;
      

      function placeMarker(location) {
        console.log(location);
        addPlace(location.lat(), location.lng())
        var http = new XMLHttpRequest();
        var url = "/person/create";
        var params = "lat="+location.lat()+"&lng="+location.lng();
        http.open("POST", url, true);

        //Send the proper header information along with the request
        http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

        http.onreadystatechange = function() {//Call a function when the state changes.
            if(http.readyState == 4 && http.status == 200) {
                addPlace(
                  location.lat(),
                  location.lng(),
                  "/person/"+http.responseText
                );
            }
        }
        http.send(params);
      }

      function loadMore() {
        document.getElementById("loadStatus").textContent = "Loading...";
        var xmlhttp = new XMLHttpRequest();

        xmlhttp.onreadystatechange = function() {
            if (xmlhttp.readyState == XMLHttpRequest.DONE ) {
               if (xmlhttp.status == 200) {
                  resp = JSON.parse(xmlhttp.responseText);
                  for (var i = 0; i < resp.length; i++) {
                    person = resp[i];
                    console.log(person.number_of_people)
                    addPlace(person.lat, person.lng, person.id, String(person.number_of_people).charAt(0));
                  }
                  document.getElementById("loadStatus").parentNode.removeChild(document.getElementById("loadStatus"));
               }
               else if (xmlhttp.status == 400) {
                  alert('There was an error 400');
               }
               else {
                   alert('something else other than 200 was returned');
               }
            }
        };

        xmlhttp.open("GET", "/people/rescued", true);
        xmlhttp.send();
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBauLvncXCP92FuFzm-Jxc-nwnqqpPh-7c&libraries=places&callback=initMap">
    </script>
  </body>
</html>