<head>
  <link rel="stylesheet" type="text/css" href="/tablestyles.css">
  <link rel="stylesheet" type="text/css" href="/reset.css">
  <script src="/sortable.js"></script>
  <script>
  var scheme   = "ws://";
  var uri      = scheme + window.document.location.host + "/sheet/ws";
  var ws       = new WebSocket(uri);
  var magic_list = ["name", "lat", "lng", "incident_number", "street_address", "apt", "city", "zip_code", "twitter_handle", "priority", "status", "number_of_people", "id"]

  ws.onmessage = function(message) {
    var data = JSON.parse(message.data);
    console.log(data);
    if (data.meta == 0) {
      tbl = document.getElementsByTagName("tbody")[0];
      row = document.createElement("tr");
      row.id = data.rec.id;
      for (var i =0; i < magic_list.length; i++) {
        key = magic_list[i]
        if (key == "id") {
          link = "/person/"+data.rec.id;
        } else {
          cell = document.createElement("td");
          cell.textContent = data.rec[key];
          row.appendChild(cell);
        }
      }
      cell = document.createElement("td");
      link_ele = document.createElement("a");
      link_ele.href = link;
      link_ele.textContent = "Link!";
      cell.appendChild(link_ele);
      row.appendChild(cell);
      tbl.replaceChild(row, document.getElementById(data.rec.id));
    } else if (data.meta == 1) {
      document.getElementById(data.rec).remove();
    } else if (data.meta == 2) {
      tbl = document.getElementsByTagName("tbody")[0];
      row = document.createElement("tr");
      row.id = data.rec.id;
      for (var i =0; i < magic_list.length; i++) {
        key = magic_list[i]
        if (key == "id") {
          link = "/person/"+data.rec.id;
        } else {
          cell = document.createElement("td");
          cell.textContent = data.rec[key];
          row.appendChild(cell);
        }
      }
      cell = document.createElement("td");
      link_ele = document.createElement("a");
      link_ele.href = link;
      link_ele.textContent = "Link!";
      cell.appendChild(link_ele);
      row.appendChild(cell);
      tbl.appendChild(row);
    }
  };
  </script>
</head>
<body>
  <table class="sortable">
    <thead>
      <tr>
        <th>Name</th>
        <th>Lat</th>
        <th>Lng</th>
        <th>Incident Number</th>
        <th>Street Address</th>
        <th>Apartment</th>
        <th>City</th>
        <th>Zip Code</th>
        <th>Twitter Handle</th>
        <th>Priority</th>
        <th>Status</th>
        <th>Number of People</th>
        <th>Link</th>
      </tr>
    </thead>
    <tbody>
      <% Person.all.each do |person| %>
      <tr id="<%= person.id %>">
        <td><%=person.name%></td>
        <td><%=person.lat%></td>
        <td><%=person.lng%></td>
        <td><%=person.incident_number%></td>
        <td><%=person.street_address%></td>
        <td><%=person.apt%></td>
        <td><%=person.city%></td>
        <td><%=person.zip_code%></td>
        <td><%=person.twitter_handle%></td>
        <td><%=person.priority%></td>
        <td><%=person.status%></td>
        <td><%=person.number_of_people%></td>
        <td><a href="/person/<%=person.id%>">Link</a></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</body>
